/****
Developer: Awungshi
Purpose: Sample, for code reference
Date: 2018-02-21
****/
.wrapper{min-width: 350px;}
.containerHeader{border:1px solid #666666;height:40px;text-align:center;color:#eeeeee;background-color:#678567;font-weight:bold;position:relative;top: 5px;}
.containerHeader span{position:relative;top:5px;}
.commonAlign{margin: 0 auto;border:1px solid #75787b}
.commonPadding{padding: 30px;}
.con{margin-bottom:10px;}
.con2 span{font-weight: bold;color:#678567;cursor: pointer;}
label{font-weight: bold;color:#4F5155}
.notice{text-align: center;}